<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jiaming.mapper.UserMapper">


	<delete id="delete" parameterType="java.lang.String">
		
		delete from user where uid = #{uid}
		
	</delete>

	<update id="update" parameterType="com.jiaming.entity.User">
	
		update user
		set username = #{username,jdbcType=VARCHAR},
		password =
		#{password,jdbcType=VARCHAR},
		tel = #{tel,jdbcType=VARCHAR},
		email =
		#{email,jdbcType=VARCHAR}
		where uid = #{uid,jdbcType=VARCHAR}
	
	</update>


	<select id="findByUid" resultType="com.jiaming.entity.User">
		
		SELECT * FROM USER WHERE uid = #{uid}
	
	</select>

	<insert id="add" parameterType="com.jiaming.entity.User">
		<selectKey keyProperty="uid" order="BEFORE"
			resultType="string">
			select replace(uuid(),"-","") from dual
		</selectKey> 
		insert into user (uid, username, password,
		tel, email)
		values (#{uid,jdbcType=VARCHAR}, #{username,jdbcType=VARCHAR},
		#{password,jdbcType=VARCHAR},
		#{tel,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR})
		
	</insert>

	<select id="findAll" resultType="com.jiaming.entity.User">
		select * from `user`
	
	</select>

	
	<select id="selectUserBySwitch"  resultType="com.jiaming.entity.User">
		select  *  from `user`
		<where>
			<choose>
				<when test="tel!=null and tel!=''">
					tel=#{tel} and password=#{password}
				</when>
				<when test="email!=null and email!=''">
					email=#{email}  and  password =#{password}
				</when>
				
				<otherwise></otherwise>
			</choose>
		</where>
	</select>



	<select id="selectUserByEmailOrTel"
		resultType="com.jiaming.entity.User">
		select * from `user` 
		where
		tel = #{tel}
		or
		email = #{email}
	</select>

	<resultMap id="BaseResultMap" type="com.jiaming.entity.User">
		<!-- WARNING - @mbggenerated This element is automatically generated by 
			MyBatis Generator, do not modify. This element was generated on Mon Dec 02 
			16:01:14 CST 2019. -->
		<id column="uid" property="uid" jdbcType="VARCHAR" />
		<result column="username" property="username"
			jdbcType="VARCHAR" />
		<result column="password" property="password"
			jdbcType="VARCHAR" />
		<result column="tel" property="tel" jdbcType="VARCHAR" />
		<result column="email" property="email" jdbcType="VARCHAR" />
	</resultMap>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		<!-- WARNING - @mbggenerated This element is automatically generated by 
			MyBatis Generator, do not modify. This element was generated on Mon Dec 02 
			16:01:14 CST 2019. -->
		delete from user
		where uid = #{uid,jdbcType=VARCHAR}
	</delete>
	<insert id="insert" parameterType="com.jiaming.entity.User">
		<selectKey keyProperty="uid" order="BEFORE"
			resultType="string">
			select replace(uuid(),"-","") from dual
		</selectKey>

		insert into user (uid, username, password,
		tel, email)
		values (#{uid,jdbcType=VARCHAR}, #{username,jdbcType=VARCHAR},
		#{password,jdbcType=VARCHAR},
		#{tel,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR})



	</insert>
	<update id="updateByPrimaryKey"
		parameterType="com.jiaming.entity.User">
		<!-- WARNING - @mbggenerated This element is automatically generated by 
			MyBatis Generator, do not modify. This element was generated on Mon Dec 02 
			16:01:14 CST 2019. -->
		update user
		set username = #{username,jdbcType=VARCHAR},
		password =
		#{password,jdbcType=VARCHAR},
		tel = #{tel,jdbcType=VARCHAR},
		email =
		#{email,jdbcType=VARCHAR}
		where uid = #{uid,jdbcType=VARCHAR}
	</update>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		<!-- WARNING - @mbggenerated This element is automatically generated by 
			MyBatis Generator, do not modify. This element was generated on Mon Dec 02 
			16:01:14 CST 2019. -->
		select uid, username, password, tel, email
		from user
		where uid =
		#{uid,jdbcType=VARCHAR}
	</select>
	<select id="selectAll" resultMap="BaseResultMap">
		<!-- WARNING - @mbggenerated This element is automatically generated by 
			MyBatis Generator, do not modify. This element was generated on Mon Dec 02 
			16:01:14 CST 2019. -->
		select uid, username, password, tel, email
		from user
	</select>
</mapper>