<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jiaming.mapper.CartMapper">

	<select id="selectCartByUidAndFid"
		resultType="com.jiaming.entity.Cart">
		select * from cart
		where
		uid = #{uid}
		and
		fid = #{fid}

	</select>

	<update id="updateCartByCidForCcount">
		update cart
		<set>
			ccount = ccount+#{value}
		</set>
		<where>
			cid = #{cid}
		</where>

	</update>


	<select id="selectCartFruitPovoByUid" resultMap="CartFruitPovo">
		select * from
		fruit,cart
		where
		cart.fid = fruit.f_id
		and
		cart.uid = #{uid}
	</select>


	<resultMap type="com.jiaming.povos.CartFruitPovo"
		id="CartFruitPovo">

		<association property="cart"
			javaType="com.jiaming.entity.Cart">
			<id column="cid" property="cid" jdbcType="VARCHAR" />
			<result column="fid" property="fid" jdbcType="INTEGER" />
			<result column="uid" property="uid" jdbcType="VARCHAR" />
			<result column="ccount" property="ccount" jdbcType="INTEGER" />
		</association>

		<association property="fruit"
			javaType="com.jiaming.entity.Fruit">
			<id column="f_id" property="fId" jdbcType="INTEGER" />
			<result column="f_name" property="fName" jdbcType="VARCHAR" />
			<result column="f_norm" property="fNorm" jdbcType="VARCHAR" />
			<result column="f_price" property="fPrice" jdbcType="DECIMAL" />
			<result column="f_summary" property="fSummary"
				jdbcType="VARCHAR" />
			<result column="f_prompt" property="fPrompt"
				jdbcType="VARCHAR" />
			<result column="f_hot" property="fHot" jdbcType="TINYINT" />
			<result column="f_imgcount" property="fImgcount"
				jdbcType="INTEGER" />
			<result column="c_id" property="cId" jdbcType="VARCHAR" />

		</association>

	</resultMap>


	<select id="selectCartByUid"
		resultType="com.jiaming.entity.Cart">
		select * from `user` , cart
		where
		`user`.uid = cart.uid
		and
		cart.uid = #{uid}


	</select>

	<resultMap id="BaseResultMap" type="com.jiaming.entity.Cart">
		<!-- WARNING - @mbggenerated This element is automatically generated by 
			MyBatis Generator, do not modify. This element was generated on Mon Dec 02 
			16:01:14 CST 2019. -->
		<id column="cid" property="cid" jdbcType="VARCHAR" />
		<result column="fid" property="fid" jdbcType="INTEGER" />
		<result column="uid" property="uid" jdbcType="VARCHAR" />
		<result column="ccount" property="ccount" jdbcType="INTEGER" />
	</resultMap>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		<!-- WARNING - @mbggenerated This element is automatically generated by 
			MyBatis Generator, do not modify. This element was generated on Mon Dec 02 
			16:01:14 CST 2019. -->
		delete from cart
		where cid = #{cid,jdbcType=VARCHAR}
	</delete>
	<insert id="insert" parameterType="com.jiaming.entity.Cart">

		<selectKey resultType="string" keyProperty="cid"
			order="BEFORE">
			select replace(uuid(),"-","") from dual

		</selectKey>
		<!-- WARNING - @mbggenerated This element is automatically generated by 
			MyBatis Generator, do not modify. This element was generated on Mon Dec 02 
			16:01:14 CST 2019. -->
		insert into cart (cid, fid, uid,
		ccount)
		values (#{cid,jdbcType=VARCHAR}, #{fid,jdbcType=INTEGER},
		#{uid,jdbcType=VARCHAR},
		#{ccount,jdbcType=INTEGER})
	</insert>
	<update id="updateByPrimaryKey"
		parameterType="com.jiaming.entity.Cart">
		<!-- WARNING - @mbggenerated This element is automatically generated by 
			MyBatis Generator, do not modify. This element was generated on Mon Dec 02 
			16:01:14 CST 2019. -->
		update cart
		set fid = #{fid,jdbcType=INTEGER},
		uid = #{uid,jdbcType=VARCHAR},
		ccount = #{ccount,jdbcType=INTEGER}
		where cid = #{cid,jdbcType=VARCHAR}
	</update>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		<!-- WARNING - @mbggenerated This element is automatically generated by 
			MyBatis Generator, do not modify. This element was generated on Mon Dec 02 
			16:01:14 CST 2019. -->
		select cid, fid, uid, ccount
		from cart
		where cid = #{cid,jdbcType=VARCHAR}
	</select>
	<select id="selectAll" resultMap="BaseResultMap">
		<!-- WARNING - @mbggenerated This element is automatically generated by 
			MyBatis Generator, do not modify. This element was generated on Mon Dec 02 
			16:01:14 CST 2019. -->
		select cid, fid, uid, ccount
		from cart
	</select>
</mapper>