<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jiaming.mapper.FruitMapper">

	<insert id="addFruit" parameterType="com.jiaming.entity.Fruit">
		
		insert into fruit (f_id, f_name, f_norm,
		f_price, f_summary, f_prompt,
		f_hot, f_imgcount, c_id
		)
		values (#{fId,jdbcType=INTEGER}, #{fName,jdbcType=VARCHAR},
		#{fNorm,jdbcType=VARCHAR},
		#{fPrice,jdbcType=DECIMAL}, #{fSummary,jdbcType=VARCHAR}, #{fPrompt,jdbcType=VARCHAR},
		#{fHot,jdbcType=TINYINT}, #{fImgcount,jdbcType=INTEGER},
		#{cId,jdbcType=VARCHAR}
		)
		
	</insert>
	
	<delete id="deleteFid" parameterType="java.lang.Integer">
	
		delete from fruit
		where f_id = #{fId,jdbcType=INTEGER}
	</delete>



	<update id="updateFruit"
		parameterType="com.jiaming.entity.Fruit">

		update fruit
		set f_name = #{fName,jdbcType=VARCHAR},
		f_norm = #{fNorm,jdbcType=VARCHAR},
		f_price = #{fPrice,jdbcType=DECIMAL},
		f_summary = #{fSummary,jdbcType=VARCHAR},
		f_prompt = #{fPrompt,jdbcType=VARCHAR},
		f_hot = #{fHot,jdbcType=TINYINT},
		f_imgcount = #{fImgcount,jdbcType=INTEGER},
		c_id = #{cId,jdbcType=VARCHAR}
		where f_id = #{fId,jdbcType=INTEGER}

	</update>

	<select id="findByFid" resultType="com.jiaming.entity.Fruit">

		select * from fruit where f_id = #{fId}

	</select>


	<select id="findAllFruit" resultType="com.jiaming.entity.Fruit">
		select * from fruit
	</select>


	<select id="selectFruitsByPrise"
		resultType="com.jiaming.entity.Fruit">
		select * from fruit
		<where>
			<choose>
				<when test="min==null and  max!=null">
					f_price &lt;= #{max}
				</when>
				<when test="min!=null  and  max==null">
					f_price >=#{min}
				</when>
				<when test="min!=null and  max!=null">
					f_price between #{min} and #{max}
				</when>
				<otherwise></otherwise>
			</choose>

		</where>

	</select>


	<select id="selectHotFruits"
		resultType="com.jiaming.entity.Fruit">
		select * from fruit

		<where>
			f_hot="1"
		</where>
	</select>

	<select id="selectFruisBySwitch"
		resultType="com.jiaming.entity.Fruit">
		select * from fruit
		<where>
			<choose>
				<when test="fFlag!=null and fFlag">
					f_flag=1
				</when>
				<when test="fFlag!=null and fFlag">
					f_flag=0
				</when>
				<when test="fName!=null and fName!=''">
					<bind name="fName" value="'%'+fName+'%'" />
					f_name like #{fName}
				</when>
				<when test="cId!=null and cId!=''">
					c_id = #{cId}
				</when>
				<when test="fId!=null">
					f_Id = #{fId}
				</when>

			</choose>
		</where>


	</select>




	<resultMap id="BaseResultMap" type="com.jiaming.entity.Fruit">
		<!-- WARNING - @mbggenerated This element is automatically generated by 
			MyBatis Generator, do not modify. This element was generated on Mon Dec 02 
			16:01:14 CST 2019. -->
		<id column="f_id" property="fId" jdbcType="INTEGER" />
		<result column="f_name" property="fName" jdbcType="VARCHAR" />
		<result column="f_norm" property="fNorm" jdbcType="VARCHAR" />
		<result column="f_price" property="fPrice" jdbcType="DECIMAL" />
		<result column="f_summary" property="fSummary"
			jdbcType="VARCHAR" />
		<result column="f_prompt" property="fPrompt" jdbcType="VARCHAR" />
		<result column="f_hot" property="fHot" jdbcType="TINYINT" />
		<result column="f_imgcount" property="fImgcount"
			jdbcType="INTEGER" />
		<result column="c_id" property="cId" jdbcType="VARCHAR" />
	</resultMap>
	<delete id="deleteByPrimaryKey"
		parameterType="java.lang.Integer">
		<!-- WARNING - @mbggenerated This element is automatically generated by 
			MyBatis Generator, do not modify. This element was generated on Mon Dec 02 
			16:01:14 CST 2019. -->
		delete from fruit
		where f_id = #{fId,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.jiaming.entity.Fruit">
		<!-- WARNING - @mbggenerated This element is automatically generated by 
			MyBatis Generator, do not modify. This element was generated on Mon Dec 02 
			16:01:14 CST 2019. -->
		insert into fruit (f_id, f_name, f_norm,
		f_price, f_summary, f_prompt,
		f_hot, f_imgcount, c_id
		)
		values (#{fId,jdbcType=INTEGER}, #{fName,jdbcType=VARCHAR},
		#{fNorm,jdbcType=VARCHAR},
		#{fPrice,jdbcType=DECIMAL}, #{fSummary,jdbcType=VARCHAR}, #{fPrompt,jdbcType=VARCHAR},
		#{fHot,jdbcType=TINYINT}, #{fImgcount,jdbcType=INTEGER},
		#{cId,jdbcType=VARCHAR}
		)
	</insert>
	<update id="updateByPrimaryKey"
		parameterType="com.jiaming.entity.Fruit">
		<!-- WARNING - @mbggenerated This element is automatically generated by 
			MyBatis Generator, do not modify. This element was generated on Mon Dec 02 
			16:01:14 CST 2019. -->
		update fruit
		set f_name = #{fName,jdbcType=VARCHAR},
		f_norm = #{fNorm,jdbcType=VARCHAR},
		f_price = #{fPrice,jdbcType=DECIMAL},
		f_summary = #{fSummary,jdbcType=VARCHAR},
		f_prompt = #{fPrompt,jdbcType=VARCHAR},
		f_hot = #{fHot,jdbcType=TINYINT},
		f_imgcount = #{fImgcount,jdbcType=INTEGER},
		c_id = #{cId,jdbcType=VARCHAR}
		where f_id = #{fId,jdbcType=INTEGER}
	</update>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		<!-- WARNING - @mbggenerated This element is automatically generated by 
			MyBatis Generator, do not modify. This element was generated on Mon Dec 02 
			16:01:14 CST 2019. -->
		select f_id, f_name, f_norm, f_price, f_summary, f_prompt, f_hot,
		f_imgcount, c_id
		from fruit
		where f_id = #{fId,jdbcType=INTEGER}
	</select>
	<select id="selectAll" resultMap="BaseResultMap">
		<!-- WARNING - @mbggenerated This element is automatically generated by 
			MyBatis Generator, do not modify. This element was generated on Mon Dec 02 
			16:01:14 CST 2019. -->
		select f_id, f_name, f_norm, f_price, f_summary, f_prompt, f_hot,
		f_imgcount, c_id
		from fruit
	</select>
</mapper>